{% extends 'bootstrap/base.html' %}

{% block html_attribs %} lang="en" dir="ltr" {% endblock %}

{% block title %}
Guild Wars 2 - Recipes & Pricing
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">    
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block metas %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width
    initial-scale=1 shrink-to-fit=no">
{% endblock %}

{% block navbar %}
<!--Placeholder for navbar-->
{% endblock %}


{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src={{ url_for('static', filename='scripts.js') }}></script>
{% endblock %}