{% extends "base.html" %}

{% block content %}
<div class="gw-background p-5">
    <div class="row">
        <div class="col-12 p-1">
            <div class="content p-2">
                <h1 class="gw-font">Content placeholder - searchbar etc</h1>
                <br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 p-1">
            <div class="content m-1 p-2">
                <h1 class="gw-font">List of recipes</h1>
                <br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br>
            </div>
        </div>
        <div class="col-8 p-1">
            <div class="content m-1 p-2">
                <h1 class="gw-font">Details area...</h1>
                <br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}